* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#categoryPane{
    margin: 0;
    padding: 0;
    height: 1006px;
    width: 15%;
    border:none;
    background-color: cornflowerblue;
}
#mainDisplay{
    padding: 10px;
    width: 1846px;
    background-color: darkslategray;
}