body,html {
    margin:0;
    padding:0;
}

#header{
    margin: 0px;
    padding: 30px;
    text-align: center;
    background: cornflowerblue;
    color: white;
    font-size: 30px;
}
#welcome{
    border: green;
    padding: 50px;
    background: darkslategray;
    text-align: center;
    font-size: 30px;
    color: white;
}
#button{
    border: green;
    padding: 126px;
    background: darkslategray;
    text-align: center;
    font-size: 20px;
    color: white;
}
#launch{
    border-radius: 12px;
    width: 175px;
    height: 175px;
}
#launch:hover{
    background-color: white;
    color: green;
}
footer{
    background: black;
    padding: 30px;
    margin: 0px;
}
ul li{
    list-style-type: none;
    background-color: darkslategray;
}