<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
<!--    <title>Inventory</title>-->
    <link rel="stylesheet" th:href = "@{/css/inventory.css}">
    <title></title>
</head>
<body>
<div style="display:flex">
    <div id="categoryPane">
        <h4>Categories</h4>
        <div class="list-group" th:each="category : ${categories}">
            <a href="#" class="List-group-item list-group-item-action">
                <p th:text="${category}"></p>
            </a>
        </div>
    </div>
    <div id="mainDisplay"> lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</div>
</div>
</body>
</html>