<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--    <title>Inventory</title>-->
    <link rel="stylesheet" th:href = "@{/css/inventory.css}">
</head>
<body>
<div style="display:flex">
    <div id="categoryPane">
        <p>Categories</p>
        <p> This is where the list of categories will be.</p>
    </div>
    <div id="mainDisplay"> lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</div>
</div>
</body>
</html>